<form method="POST" action="/">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">

    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password">

    <button type="submit">Login</button>

</form>

<div>
    <p>No tienes cuenta ? <a href="./register">Registrarte</a></p>
</div>