<form method="POST" action="/" class="border p-3 form ">
    <label for="email" class="form-label">Email</label>
    <input type="email" name="email" id="email" class="form-control" placeholder="Ingrese su Email">

    <label for="password" class="form-label pt-2 ">Contraseña</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="Ingrese su Contraseña">

    <button type="submit" class="btn btn-warning mt-2 mx-5" style="width: 100px;">Login</button>

</form>

<div>
    <p>No tienes cuenta ? <a href="./register">Registrarte</a></p>
</div>