<form method="post" action="/api/sessions/restore">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">

    <label for="newPassword">Nueva contraseña</label>
    <input type="password" name="newPassword" id="newPassword">

    <button type="submit">Restaurar contraseña</button>
</form>